<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Zemoga Portfolio Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap stylesheet -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
            th:src="@{/webjars/popper.js/1.14.3/popper.js}" ></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/portfolio.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <div>
                <img th:src="${portfolio.getImageURL()}">
            </div>
            <div th:if="${not #lists.isEmpty(timeline)}">
                <h2 th:text="${timeline.get(0).user.getScreenName()} + '\'s Timeline'"></h2>
                <ul th:each="tweet : ${timeline}">
                    <li>
                        <img th:src="${tweet.user.getMiniProfileImageURL()}">
                        <h4 th:text="${tweet.user.name}"></h4>
                        <p th:text="${tweet.text}"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <h1 th:text="${portfolio.getTitle()}"></h1>
            <h2>My Work Experience</h2>
            <p th:text="${portfolio.description}"></p>
        </div>
    </div>
</div>

</body>
</html>