<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Zemoga Portfolio Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- Page styles -->
    <link href="../../static/css/portfolio.css"
          th:href="@{../../css/portfolio.css}" rel="stylesheet" media="screen"/>
    <!-- Page script -->
    <script src="../../static/js/portfolio.js" th:src="@{../../js/portfolio.js}"></script>
</head>
<body>
<div class="container">
    <div id="portfolio-container" class="shadow">
            <!-- Portfolio Header -->
        <div class="row portfolio-row portfolio-header">
            <div class="col-xs-12 col-md-4 p-0">
                <div class="portfolio-img-container">
                    <img src="" th:src="${portfolio.getImageURL()}" alt="Profile Image" class="img-portfolio">
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <h1 th:text="${portfolio.getTitle()}" class="portfolio-title"></h1>
            </div>
        </div>
        <!-- Portfolio timeline and description -->
        <div class="row portfolio-row">
            <!-- Timeline -->
            <div class="col-xs-12 col-md-4">
                <div th:if="${not #lists.isEmpty(timeline)}" class="portfolio-timeline">
                    <h5 th:text="${timeline.get(0).user.getScreenName()} + '\'s Timeline'" class="portfolio-timeline-header"></h5>
                    <ul class="portfolio-timeline-list">
                        <li th:each="tweet : ${timeline}">
                            <div class="portfolio-timeline-item-header">
                                <img src="" th:src="${tweet.user.getMiniProfileImageURL()}" class="rounded-circle" alt="Twitter profile image">
                                <h6 th:text="${tweet.user.name}"></h6>
                            </div>
                            <p th:text="${tweet.text}"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Portfolio description -->
            <div class="col-xs-12 col-md-8">
                <h2>My Work Experience</h2>
                <p th:text="${portfolio.description}" class="portfolio-description"></p>
            </div>
        </div>
    </div>
</div>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        th:src="@{/webjars/jquery/jquery.slim.min.js}"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
        th:src="@{/webjars/popper.js/popper.js}"></script>

<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>